data=./images/
split-dir=./split/mini/
save-path=./result
logname=Pretrain_trp.log
arch=conv4
lr=0.001
num-classes=64
batch-size=256
epochs=100
optimizer=Adam
meta-val-interval=10
meta-val-shot=5
workers=40
scheduler=multi_step
print-freq=50

seed=0
trp-train
triplet-batch= 300
triplet-iter= 150
triplet-rand